@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    @apply border-b-2 border-b-primary
}

.hoverEffect {
    @apply transition-all duration-75 ease-linear
}

.home {
    background-image: url("/src/assets/images/singleChef.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.chefBanner {
    background-image: url("/src/assets/images/singleChef.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.singleChef {
    background-image: url("/src/assets/images/singleChef.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.chef:hover .view {
    @apply text-primary
}

.blogBanner {
    background-image: url("/src/assets/images/blogBanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
}

@media all and (max-width:768px) {
    .container {
        width: 85%;
        margin: auto;
    }
}