@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    @apply border-b-2 border-b-primary
}

.hoverEffect {
    @apply transition-all duration-75 ease-linear
}

.home {
    background-image: url("/src/assets/images/homeBanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.chefBanner {
    background-image: url("/src/assets/images/chefBanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.singleChef {
    background-image: url("/src/assets/images/singleChef.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.chef:hover .view {
    @apply text-primary
}